<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ECHO-EXAMPLE-ERROR-PAGE</title>
</head>
<body>

<h1 th:text="'Echo Result - ERROR'"></h1> 

<th:block layout:fragment="content">

<form role="form"id="mainForm">	
	<div>
		<table border = "1" bgcolor="HotPink">
			<tr>
				<tr>
					<td>			
						<label>오류 코드</label>
					</td>					
					<td>
						<p th:text="${RESULT.code}"></p> 				
					</td>
				</tr>
				<tr>
					<td>			
						<label>오류 상세</label>
					</td>	
					<td>
						<p th:text="${RESULT.detailMessage}"></p> 			
					</td>
				</tr>					
			</tr>
		</table>		
	</div>
</form>	
</th:block>

</body>
</html>		